@charset "utf-8";

@import url('keyframes.css');


/*contact start*/
.contact_wrap{width:100%;min-height:600px;height:100%;padding-bottom:200px;position: relative;padding-top:100px;background-color:#dddbdb;z-index: 1;}
.contact_wrap::after{position: absolute;content: "";width:100%;height:100%;
    background:url('http://bottlesun.pe.kr/img/mountain.svg')no-repeat;background-position: bottom;bottom:0;z-index: -2;}

.contact_title{font-size:60px;position: relative;width:250px;margin-left:auto;margin-right:auto;margin-bottom:30px}
.contact_title::before{content: ' ';position: absolute;width:20px;height:20px;background-color:#6264a2;right:0;border-radius: 30px;}
.contact_title::after{content: ' ';position: absolute;width:15px;height:15px;background-color:#dddbdb;right:-5px;top:-5px;border-radius: 30px;}


.contact-form{width:400px;height:450px;margin:0 auto;padding:20px;margin-top:80px;position: relative;background-color: #fff;}
.contact-form::before{width:400px;height:450px;position: absolute;background-color: #6264a2;content: " ";top:-20px;left:-20px;padding:20px;z-index: -1;}
.contact-form::after{width:400px;height:450px;position: absolute;background-color: #d1b0be;content: " ";bottom:-20px;right:-20px;padding:20px;z-index: -1;}
.contact-form input {height:30px;width:95%;margin:0 auto;display:block;border:2px solid #6264a2;border-radius: 2px;}
.contact-form label {width:350px;height:30px;line-height:20px;text-align: left;color:#333;display:block;font-weight:bold;font-size:14px;}
.contact-form textarea {width:350px;height:150px;border:2px solid #6264a2;background-color:transparent;text-align: left;resize: none;padding:20px;margin:0 auto;display:block}


input[type=text] {margin-bottom:20px;}
input[type=email] {margin-bottom:20px;}
input[type=submit] {width:200px;height:40px;background-color: #6264a2;margin-top:20px;cursor: pointer;font-weight:bold;color:#fff;transition: 0.3s;position: relative;}
input[type=submit]:hover {color:#333;background-color: #fff;}

input[type=submit]::before{position: absolute;content: " ";width:150px;height:35px;z-index: -1;background-color: #6264a2;top:-3px;left:-3px;}
input[type=submit]::after{position: absolute;content: " ";width:150px;height:35px;z-index: -1;background-color: #d1b0be;bottom:-3px;right:-3px}

input:focus {outline:none;}
textarea:focus {outline:none;}

@media (max-width:766px){
    .contact_wrap{padding-bottom:0;}
    .contact_title{font-size: 40px;width:175px}
    .contact-form{width:290px;height:350px;margin:0 auto;padding:20px;margin-top:80px;position: relative;background-color: #fff;}
    .contact-form::before{width:290px;height:350px;position: absolute;background-color: #6264a2;content: " ";top:-20px;left:-20px;padding:20px;z-index: -1;}
    .contact-form::after{width:290px;height:350px;position: absolute;background-color: #d1b0be;content: " ";bottom:-20px;right:-20px;padding:20px;z-index: -1;}
    .contact-form textarea{width:90%;height: 55px;}
    .contact-form label{width:100%;}
    }


/*contact end*/

