@charset "utf-8";

@import url("font.css");
@import url('portfolio.css');
@import url('about.css');
@import url('keyframes.css');



html{scroll-behavior: smooth;}

body ,a{
  font-family: "Noto Sans KR", sans-serif;color:#333;
}

/*컨테이너*/
@media (min-width:992px){
    .container{max-width:1500px;width:100%;margin:0 auto}
    }
    @media (max-width:991px){
    .container{max-width:950px;width:100%;margin:0 auto}
    }
    @media (max-width:766px){
    .container{max-width:750px;width:100%;margin:0 auto}
    }



/*반응형별 DISPLAY*/

@media (min-width:992px){
.d_display{display:block;}
.m_display{display:none;}
}
@media (max-width:991px){
.d_display{display:none;}
.m_display{display:block;}
}
@media (max-width:766px){
.d_display{display:none;}
.m_display{display:block;}
}




/*공통효과*/
.ani_move{transition: 1s;}
.end_padding{padding:80px}
.relative{position:relative}
.ondisplay{opacity: 1;transition: 0.3s;cursor: pointer;}
.offdisplay{opacity: 0;transition: 0.3s;cursor: default;}
.border_line{width:65%;height:2px;border-color:#6264a2;margin-top:40px;margin-bottom:40px;margin-left: 0;}
body{cursor: default;}


/*main start*/
#main{position: relative;width:100%;max-height:960px;height:100vh;overflow: hidden;background-color:#6264a2;}
#main::before{position:absolute;content: ' ';background:url('http://bottlesun.pe.kr/img/moonstar.svg')no-repeat;
background-position:center 50px;width:100%;height:100%;animation: mainbeforeFadeIn 1.2s;}
#main::after{position: absolute;content:' ';background: url('http://bottlesun.pe.kr/img/city01.svg')no-repeat;
width:100%;height:100%;background-position:bottom;bottom:-2%;z-index: 101;}
.main_wrap {width:100%;margin:0 auto;text-align: center;}

/*web publisher*/
.main_title{position: absolute;top:50%;left:50%;transform: translate(-49%,-49%);}
.main_title_circle {font-size:50px;margin-bottom:12px;width:100%;height:100%;position: relative;margin-bottom:12px;font-size:40px;font-weight:bold;color:#fff}
.main_title_circle::after {content: " ";width:90px;height:100%;background:url('http://bottlesun.pe.kr/img/airplane.svg') no-repeat;
position: absolute;top:-5px;right:-10px;z-index: -1;border-radius: 30px;animation: fadeIn 0.4s;background-position: center;background-size: 100%;right:-100px;top:5%}
.main_title p {font-size:14px;letter-spacing:2px;color:#fff;  }

/*logo*/
.logo_main{width:120px;position: absolute;bottom:50px;right:50px;opacity: 0.6;z-index: 999;}
.logo_main img{width:100%;}
.logo_wrap {position:fixed;top:170px;right:-90px;width:260px;text-align: center;transform: rotate( 90deg );z-index: 100;}
.logo_square{position: relative;font-size:20px;width:100%;color:#fff;font-weight:400}
.logo_square::before{background: #6264a2;position: absolute;width:20px;height:20px;top:-5px;left:-20px;content: " ";z-index: -1; }
.logo_square::after{background: #d1b0be;position: absolute;width:20px;height:20px;top:5px;left:-10px;content: " ";z-index: -5; }



/*contact_us btn*/
.contact_us{width:150px;text-align: center;font-size:22px;font-weight: 500;position: absolute;top:50px;left:40px;height:50px;
cursor: pointer;transition: 0.5s;z-index: 999;color:#fff;}


    @media (max-width:766px){
    #main{height:650px}
    .square{width:150px;height:200px;}
    .contact_us{left:0;z-index: 100;font-size:18px;}
    .logo_main{right:10px;width:80px;}
    .weight_box{display:none;}
    }



/*main end*/